[submodule "dep/chrome/openpgpjs"]
	path = dep/chrome/openpgpjs
	url = git://github.com/holon000/openpgpjs.git
[submodule "dep/firefox/openpgpjs"]
	path = dep/firefox/openpgpjs
	url = git://github.com/holon000/openpgpjs.git
